.saludo{
    font-size: 2em;
    text-align: center;
}

.foto{
    display: flex;
    justify-content: center;
}

.foto img{
    border-radius: 10%;
    height: 320px;
    width: auto;
}

p{
    text-align: justify;
    padding: 1% 10%;
}