.contenedor_cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 40px;
}

.card {
    margin: 0 auto;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 8%;
}

.card-title {
    font-size: 1.4em;
    color: #ebebeb;
    margin: 2px;
}

.card-text {
    color: #dddddd;
    margin-bottom: 2px;
}

.card_btn {
    display: flex;
    justify-content: center;
}

.btn-primary {
    display: inline-block;
    padding: 2% 5%;
    text-decoration: none;
    border-radius: 6px;    
}

.btn-primary:hover {
    transform: scale(1.2);
}
